<div class="overlay-main">
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
    <div class="comment-card">
        <post-overlay-comment-card></post-overlay-comment-card>
    </div>
</div>