<div>
    <div class="card-column-first">
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
    </div>
    <div class="card-column-last">
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
        <div class="card">
            <card></card>
        </div>
    </div>
</div>