
.thumbs-button {
    position: relative;
    height: 35px;
    left: 460px;
    top: -5px;
    width: 35px;
    background-color: black;
}

.thumbs-icons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.emoji-count {
    position: relative;
    top: -6px;
    padding-left: 15px;
}