<div class="button-carrier">
    <span class="nav-buttons">
        <button class="arrow-back" (click)="close()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button class="arrow-forward" (click)="close()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </span>
    <span class="close-overlay">
        <button class="close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </span>
</div>
<div>
    <post-overlay-main></post-overlay-main>
</div>