<mat-accordion>
    <mat-expansion-panel class="expansion-panel" [expanded]=expandStatus.followers>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Followers
            </mat-panel-title>
        </mat-expansion-panel-header>
        <social-followers-list [followers]="followers"></social-followers-list>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-panel" [expanded]=expandStatus.followings>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Followings
            </mat-panel-title>
        </mat-expansion-panel-header>
        <social-followings-list [followings]="followings"></social-followings-list>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-panel" [expanded]=expandStatus.blockedUsers>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Blocked Users
            </mat-panel-title>
        </mat-expansion-panel-header>
        <social-blocked-users-list [blockedUsers]="blockedUsers"></social-blocked-users-list>
    </mat-expansion-panel>
</mat-accordion>