<mat-card>
    <mat-card-header class="card-header">
        <mat-card-title-group class="title-group">
            <div class="avatar">
                <img mat-card-avatar src="../../assets/profile_pic.jpg"/>
            </div>
            <div class="writer">
                <mat-card-title>Neil Harris</mat-card-title>
                <mat-card-subtitle>12m ago</mat-card-subtitle>
            </div>
        </mat-card-title-group>
        <span class="card-options">
            <card-options></card-options>
        </span>
    </mat-card-header>
    <mat-card-content class="card-content" (click)="openPostDetail($event)">
        <img mat-card-image src="../../assets/profile_pic.jpg"/>
        <div class="captions">
            Loving it too much
        </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <card-actions></card-actions>
    </mat-card-actions>
    <mat-card-footer>
        <div></div>
    </mat-card-footer>
</mat-card>